@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  @apply text-black;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@screen dark-mode {
  body {
    @apply text-white;
  }
}

h1,
h2,
h3,
h4 {
  @apply font-display;
}

p {
  @apply font-body;
  @apply leading-loose;
  @apply text-lg;
  @apply max-w-2xl;
  @apply m-auto;
}

span.colorText-red {
  background: -webkit-linear-gradient(
    0deg,
    rgba(253, 184, 109, 1) 0%,
    rgba(251, 129, 128, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
}

span.colorText-blue {
  background: -webkit-linear-gradient(
    0deg,
    rgba(156, 252, 248, 1) 0%,
    rgba(113, 132, 252, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
}

span.colorText-green {
  background: -webkit-linear-gradient(
    0deg,
    rgba(179, 243, 146, 1) 0%,
    rgba(63, 149, 148, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  overflow: visible;
}

.theme-switch-wrapper {
  position: fixed;
  right: 60px;
  top: 10px;
}

.theme-switch input {
  display: none;
  width: 40px;
  height: 40px;
}

.switcher {
  background-image: url(../image/Sun.svg);
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 44px;
  opacity: 1;
  z-index: 10;
}

.switcher:before {
  background-image: url(../image/Moon.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}

input:checked + .switcher:before {
  opacity: 1;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  mask-size: auto;
  mask-position: left;
  mask-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(to right, #828282, #828282);
  z-index: 1;
}

.icon::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    0deg,
    rgba(253, 184, 109, 1) 0%,
    rgba(251, 129, 128, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(253, 184, 109, 1) 0%,
    rgba(251, 129, 128, 1) 100%
  );
  z-index: -1;
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}
.icon:hover::before,
.icon:focus::before {
  opacity: 1;
}

.icon-email {
  mask: url(../image/Email.svg);
}
.icon-telegram {
  mask: url(../image/Telegram.svg);
}
.icon-twitter {
  mask: url(../image/Twitter.svg);
}
.icon-instagram {
  mask: url(../image/Instagram.svg);
}

.phone-1,
.bike-1,
.map-1 {
  opacity: 0.1;
}
.phone-2,
.bike-2,
.map-2 {
  opacity: 0.13;
}
.phone-3,
.bike-3,
.map-3 {
  opacity: 0.15;
}

.fixed.opacity-0 {
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title-big {
  @apply font-display;
  @apply leading-tight;
}

#typeText {
  overflow-wrap: normal;
  clear: left;
}

#phone-1 {
  top: 480px;
  right: 140px;
}

#phone-2 {
  top: 250px;
  left: 360px;
}

#phone-3 {
  top: 120px;
  right: 450px;
}

#bike-1 {
  top: 20px;
  right: 50px;
}

#bike-2 {
  top: 200px;
  left: 250px;
}

#bike-3 {
  top: 30px;
  right: 450px;
}
#map-1 {
  top: 340px;
  left: 482px;
}

#map-2 {
  top: 100px;
  right: 250px;
}

#map-3 {
  top: 230px;
  right: 450px;
}

.image-list {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-clip: padding-box; /* !importanté */
  top: 0;
  transition: top 0.3s ease-in-out;
}

.image-list:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -8px; /* !importanté */
  transition: all 0.2s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(253, 184, 109, 1) 0%,
    rgba(251, 129, 128, 1) 100%
  );
  opacity: 0;
}

.animsition-link:hover .image-list {
  top: -5px;
}

.animsition-link:hover .image-list:before {
  opacity: 1;
}

#bottomR,
#bottomY {
  @apply font-display;
  @apply text-white;
  @apply opacity-0;
  font-size: 600px;
  @apply fixed;
  line-height: 0.8;
  bottom: -60px;
  z-index: -1;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#bottomY {
  left: 380px;
  line-height: 0.6;
}

.bottomLetter {
  opacity: 0.08 !important;
  bottom: 0px !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animsition {
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.titleAnimation {
  animation-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#main.is-exiting > .animsition{
  animation-direction: alternate-reverse;
}

#main.is-exiting > .titleAnimation{
  animation-direction: alternate-reverse;
}
