@import "tailwindcss/base";

@import "tailwindcss/utilities";

@import "tailwindcss/components";

html,
body {
  @apply text-black;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@screen dark-mode {
  body {
    @apply text-white;
  }
}
span.colorText {
  background: -webkit-linear-gradient(
    90deg,
    rgba(253, 184, 109, 1) 0%,
    rgba(251, 129, 128, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  @apply bg-black;
  mask-size: auto;
  mask-position: left;
  mask-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(194, 6%, 9%),
    hsl(194, 6%, 9%)
  );
  z-index: 1;
}

.icon::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        90deg,
        rgba(253, 184, 109, 1) 0%,
        rgba(251, 129, 128, 1) 100%
      );
      background-image: -webkit-linear-gradient(
    90deg,
    rgba(253, 184, 109, 1) 0%,
    rgba(251, 129, 128, 1) 100%
  );
    z-index: -1;
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
  }
.icon:hover::before,
.icon:focus::before {
opacity: 1;
}

.icon-email {
  mask: url(./assets/image/Email.svg);
}
.icon-telegram {
  mask: url(./assets/image/Telegram.svg);
}
.icon-twitter {
  mask: url(./assets/image/Twitter.svg);
}
.icon-instagram {
  mask: url(./assets/image/Instagram.svg);
}
